* {
  box-sizing: border-box
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  margin: 0;
  color: #555;
  background-color: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.strike {
  position: relative;
}
.strike::after {
  border-bottom: 0.2rem solid #111111;
  content: "";
  left: -0.2rem;;
  margin-top: calc(0.2rem / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
  tab-width: 4;
  background: black;
  color: white;
  padding: 1rem;
  font-size: .9rem;
}

pre[data-lang]::before {
  content: attr(data-lang);
  display: block;
}

code {
  font-family: Courier, 'New Courier', monospace;
}

blockquote {
  border-left: 0.5rem solid #000;
  margin: 1.5rem 0;
  padding: 0.5rem 1rem;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #000;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

@media screen and (min-width: 40em) {
  .sm-m3 {
    margin: 2rem
  }
  .sm-p3 {
    padding: 2rem
  }
  .sm-px3 {
    padding-left: 2rem;
    padding-right: 2rem
  }
}

@media screen and (min-width: 52em) {
  .md-m4 {
    margin: 4rem
  }
  .md-p4 {
    padding: 4rem
  }
  .md-px4 {
    padding-left: 4rem;
    padding-right: 4rem
  }
}

a {
  color: inherit;
}

h1 {
  font-size: 2rem
}

h2 {
  font-size: 1.5rem
}

h3 {
  font-size: 1.25rem
}

h4 {
  font-size: 1rem
}

h5 {
  font-size: .875rem
}

h6 {
  font-size: .75rem
}

.h0 {
  font-size: 2rem
}

@media screen and (min-width: 50em) {
  .h0 {
    font-size: 4vw
  }
}

.uniform__potty {
  position: absolute;
  left: -9999px;
}

figure {
  margin: 0;
  padding: 0;
}

figure img {
  max-width: 100%;
}

figcaption {
  font-size: .875rem;
}

hr {
  margin-top: 3em;
  margin-bottom: 3em;
  border: 0;
  border-bottom: 3px solid;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: .25em 1.25em;
  border: 2px solid;
  border-radius: 3px;
  color: inherit;
  background-color: transparent;
}

.btn:hover {
  box-shadow: inset 0 0 0 1px;
}

.navy {
  color: #001F3F;
}

.blue {
  color: #0074D9;
}

.aqua {
  color: #7FDBFF;
}

.teal {
  color: #39CCCC;
}

.olive {
  color: #3D9970;
}

.green {
  color: #2ECC40;
}

.lime {
  color: #01FF70;
}

.yellow {
  color: #FFDC00;
}

.orange {
  color: #FF851B;
}

.red {
  color: #FF4136;
}

.fuchsia {
  color: #F012BE;
}

.purple {
  color: #B10DC9;
}

.maroon {
  color: #85144B;
}

.white {
  color: #FFFFFF;
}

.silver {
  color: #DDDDDD;
}

.gray {
  color: #AAAAAA;
}

.black {
  color: #111111;
}

.bg-navy {
  background-color: #001F3F;
}

.bg-blue {
  background-color: #0074D9;
}

.bg-aqua {
  background-color: #7FDBFF;
}

.bg-teal {
  background-color: #39CCCC;
}

.bg-olive {
  background-color: #3D9970;
}

.bg-green {
  background-color: #2ECC40;
}

.bg-lime {
  background-color: #01FF70;
}

.bg-yellow {
  background-color: #FFDC00;
}

.bg-orange {
  background-color: #FF851B;
}

.bg-red {
  background-color: #FF4136;
}

.bg-fuchsia {
  background-color: #F012BE;
}

.bg-purple {
  background-color: #B10DC9;
}

.bg-maroon {
  background-color: #85144B;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-gray {
  background-color: #AAAAAA;
}

.bg-silver {
  background-color: #DDDDDD;
}

.bg-black {
  background-color: #111111;
}

.bd {
  border: 3px solid
}

.bt {
  border-top: 3px solid
}

.br {
  border-right: 3px solid
}

.bb {
  border-bottom: 3px solid
}

.bl {
  border-left: 3px solid
}
